@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 400px;
}

header {
  max-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #efb231;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  text-decoration: underline;
}
@media only screen and (max-width: 650px) {
  .header-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

nav {
  display: flex;
  padding-top: 10px;
  max-width: 100%;
}
@media only screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }
}

.logo {
  width: 29%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 20px;
}
.logo img {
  width: 160px;
  height: 140px;
}
@media only screen and (max-width: 1200px) {
  .logo {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 650px) {
  .logo {
    width: 100%;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo img {
    width: 120px;
    height: 100px;
  }
}
@media only screen and (max-width: 650px) {
  .logo {
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }
}

.title {
  font-size: 27px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  letter-spacing: 1px;
  width: 60%;
}
@media only screen and (max-width: 650px) {
  .title {
    font-size: 25px;
  }
}

.nav-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
  width: 70%;
}
@media only screen and (max-width: 1200px) {
  .nav-container {
    width: 100%;
    margin-right: 0px;
    justify-content: flex-start;
  }
}

.information-nav {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.information-nav a {
  font-size: 18px;
  padding-top: 12px;
  margin: 0px auto;
  color: #504c4c;
  font-weight: 600;
  height: 40px;
  border: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .information-nav {
    width: 50%;
    justify-content: flex-start;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 950px) {
  .information-nav {
    width: 80%;
  }
}
@media only screen and (max-width: 650px) {
  .information-nav {
    flex-wrap: wrap;
    width: 90%;
  }
}

.language {
  width: 75px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 7px;
  margin-left: 60px;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 19px;
  font-weight: 600;
}

.category {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  cursor: pointer;
}
.category a {
  font-size: 19px;
  padding-left: 50px;
  text-decoration: none;
  color: #504c4c;
  font-weight: 600;
}
@media only screen and (max-width: 1024px) {
  .category a {
    font-size: 14px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .category {
    width: 100%;
    justify-content: flex-start;
    margin: 0px;
  }
}
@media only screen and (max-width: 650px) {
  .category {
    flex-wrap: wrap;
  }
}

.search-container {
  background-color: #2a3743;
  display: flex;
  max-width: 100%;
  padding-top: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
  justify-content: flex-start;
}
@media only screen and (max-width: 1200px) {
  .search-container {
    flex-wrap: wrap;
  }
}

.book-name {
  width: 80%;
  background-color: #2a3743;
  margin-left: 60px;
}
.book-name input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  padding-top: 10px;
}
@media only screen and (max-width: 650px) {
  .book-name input {
    width: 65%;
    border-radius: 12px;
    margin-right: 10px;
  }
}
.book-name ::placeholder {
  padding-left: 30px;
  font-size: 22px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 650px) {
  .book-name {
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
  }
  .book-name ::placeholder {
    font-size: 12px;
    width: 45%;
  }
  .book-name input {
    width: 50%;
  }
}

.category-books {
  width: 15%;
  position: absolute;
  height: 64px;
  margin-top: 1px;
  border-radius: 12px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}
@media only screen and (max-width: 650px) {
  .category-books {
    width: 30%;
    font-size: 15px;
    border-radius: 12px;
    font-size: 18px;
    padding-left: 2px;
  }
}
@media only screen and (max-width: 1024px) {
  .category-books {
    width: 20%;
    font-size: 18px;
    padding-left: 2px;
  }
}

.search-category button {
  height: 65px;
  width: 220px;
  margin-left: 30px;
  margin-right: 70px;
  background-color: #ea545b;
  border-radius: 15px;
  border: 1px solid #ea545b;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .search-category button {
    margin-top: 20px;
    margin-left: 60px;
  }
}
@media only screen and (max-width: 650px) {
  .search-category button {
    margin: 10px;
  }
}
.search-category button :active {
  border: none;
}

main {
  max-width: 100%;
  margin-right: 30px;
}

section {
  display: flex;
  margin-left: 60px;
  margin-top: 70px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  section {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.new-activities {
  width: 69%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media only screen and (max-width: 650px) {
  .new-activities {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .new-activities {
    width: 100%;
  }
}

.activities {
  width: 30%;
  background-color: #32788d;
  margin-bottom: 50px;
  position: absolute;
  right: 65px;
  top: 10px;
  z-index: 1;
}
.activities img {
  width: 100%;
  height: 470px;
  opacity: 0.2;
}
@media only screen and (max-width: 1500px) {
  .activities {
    right: 30px;
    top: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .activities {
    width: 100%;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .activities {
    position: unset;
    width: 100%;
    margin-top: 50px;
  }
  .activities img {
    width: 100%;
    margin-top: 20px;
    opacity: 0.4;
  }
}

.first-activities {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-activities h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.first-activities h2 {
  padding-left: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: serif;
  color: #5e5b5b;
  margin-right: 100px;
}
.first-activities h2 hr {
  height: 5px;
  background-color: #ea545b;
}
@media only screen and (max-width: 650px) {
  .first-activities {
    flex-direction: column;
    align-items: baseline;
  }
  .first-activities h2 {
    margin-left: 5px;
    padding-left: 20px;
  }
  .first-activities h1 {
    font-size: 25px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .first-activities h2 {
    margin-left: 5px;
    padding-left: 20px;
  }
  .first-activities h1 {
    font-size: 25px;
    padding-left: 20px;
  }
}

.new-promotion {
  width: 100%;
  background-color: #f7f6f3;
  z-index: 1;
  padding-left: 50px;
}
.new-promotion h3 {
  font-size: 35px;
}
.new-promotion h4 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 60%;
}
.new-promotion p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 1024px) {
  .new-promotion {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .new-promotion h4 {
    padding-left: 20px;
  }
  .new-promotion h3 {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .new-promotion {
    width: 100%;
    padding-left: 25px;
  }
  .new-promotion h4 {
    width: 90%;
    margin: 0;
    padding-left: 20px;
  }
  .new-promotion h3 {
    padding-left: 20px;
  }
}

.slideshow {
  width: 90%;
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.more-information button {
  display: inline-flex;
  justify-content: space-evenly;
  height: 55px;
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ea545b;
  border-radius: 15px;
  border: 1px solid #ea545b;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  cursor: pointer;
}

.images-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  z-index: 1;
  padding-left: 50px;
}
.images-description h1 {
  color: white;
  font-size: 19px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  width: 90%;
}
.images-description h2 {
  color: white;
  font-size: 30px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  margin-top: 0px;
  width: 90%;
}
.images-description hr {
  width: 25%;
  height: 6px;
  background-color: white;
  margin-left: 0;
}
.images-description h3 {
  color: white;
  font-size: 18px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  margin-top: 0px;
  letter-spacing: 1px;
  width: 90%;
}
@media only screen and (max-width: 1024px) {
  .images-description {
    width: 100%;
    top: 650px;
    position: absolute;
    padding-left: 0px;
  }
  .images-description h1 {
    padding-left: 20px;
  }
  .images-description h2 {
    padding-left: 20px;
  }
  .images-description h3 {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .images-description {
    padding-top: 120px;
  }
  .images-description h1 {
    padding-left: 20px;
  }
  .images-description h2 {
    padding-left: 20px;
  }
  .images-description h3 {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .images-description {
    padding-top: 300px;
  }
}

.next-activities {
  width: 69%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .next-activities {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .next-activities {
    width: 100%;
  }
}

.description-next {
  width: 90%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: #45a2c6;
  border: 2px solid #71d1f7;
  padding-left: 50px;
  padding-top: 40px;
}
.description-next h1 {
  font-size: 40px;
  width: 70%;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
@media only screen and (max-width: 10240px) {
  .description-next h1 {
    width: 100%;
    font-size: 25px;
  }
}
.description-next h2 {
  color: white;
  padding: 0px;
  margin: 0;
}
.description-next p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-family: "Merriweather Sans", sans-serif;
}
.description-next h3 {
  font-size: 25px;
  width: 55%;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
@media only screen and (max-width: 1024px) {
  .description-next h3 {
    width: 100%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .description-next {
    margin: 30px;
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .description-next {
    width: 100%;
  }
}

.next-promotion {
  width: 80%;
  background-color: #45a2c6;
  z-index: 1;
  padding: 30px;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .next-promotion {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 650px) {
  .next-promotion {
    width: 100%;
    padding-left: 20px;
  }
}

.more-information-next button {
  display: inline-flex;
  justify-content: space-evenly;
  height: 55px;
  width: 200px;
  background-color: #45a2c6;
  border-radius: 12px;
  border: 3px solid white;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  margin-top: 20px;
  cursor: pointer;
}

.membership-information {
  border-left: 3px solid #faf7f7;
  width: 34%;
  padding-left: 80px;
}
.membership-information p {
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.membership-information ul li span {
  font-size: 25px;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
}
@media only screen and (max-width: 1024px) {
  .membership-information ul li span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 650px) {
  .membership-information ul li span {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
}
.membership-information ul li {
  color: red;
  padding-bottom: 20px;
}
.membership-information ul {
  width: 70%;
}
.membership-information h2 {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: serif;
  color: #5e5b5b;
  padding-right: 400px;
}
@media only screen and (max-width: 650px) {
  .membership-information h2 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.membership-information h2 hr {
  height: 5px;
  background-color: #ea545b;
  width: 95%;
}
@media only screen and (max-width: 650px) {
  .membership-information h2 hr {
    width: 60%;
    margin-left: 0px;
  }
}
.membership-information h1 {
  font-size: 23px;
  letter-spacing: 1px;
  font-family: serif;
  color: #5e5b5b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 650px) {
  .membership-information {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .membership-information {
    width: 100%;
  }
}

.book-cover {
  width: 40%;
  height: 40%;
  position: absolute;
  z-index: 1;
  bottom: -40px;
  right: 60px;
}
.book-cover img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .book-cover {
    width: 30%;
    height: 250px;
    margin: 0;
    right: 0;
    padding: 0;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 650px) {
  .book-cover {
    position: unset;
    width: 100%;
    padding-left: 15px;
  }
}

aside {
  max-width: 100%;
  padding: 70px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 650px) {
  aside {
    padding: 0;
    margin: 0;
    position: unset;
  }
}

.favorite-book {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite-book h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.favorite-book h2 {
  padding-left: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: serif;
  color: #beb8b8;
  margin-right: 10px;
}
.favorite-book h2 hr {
  height: 5px;
  background-color: #ea545b;
}
@media only screen and (max-width: 650px) {
  .favorite-book {
    flex-direction: column;
    align-items: baseline;
  }
  .favorite-book h2 {
    margin-left: 5px;
    padding-left: 20px;
  }
  .favorite-book h1 {
    font-size: 25px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .favorite-book h2 {
    margin-left: 5px;
    padding-left: 20px;
  }
  .favorite-book h1 {
    font-size: 25px;
    padding-left: 20px;
  }
}

.popular-books {
  width: 85%;
}
.popular-books a {
  font-size: 18px;
  padding-top: 12px;
  padding-right: 50px;
  color: #cfcccc;
  font-weight: 600;
  height: 40px;
  border: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .popular-books {
    width: 100%;
  }
  .popular-books a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 650px) {
  .popular-books {
    width: 100%;
  }
  .popular-books a {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 20px;
  }
}

.active {
  text-decoration: underline;
  font-weight: 600;
  color: red;
}

.hr-book-right hr {
  width: 93%;
  height: 1px;
  background-color: gray;
  margin-top: 20px;
  position: absolute;
}

.most-read-titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
@media only screen and (max-width: 1024px) {
  .most-read-titles {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1024px) {
  .most-read-titles {
    align-items: flex-start;
  }
}

.most-read-book {
  width: 11%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.most-read-book img {
  width: 100%;
  height: 80%;
  margin-bottom: 40px;
}
.most-read-book h2 {
  font-size: 18px;
  color: #a19d9d;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.most-read-book h1 {
  width: 100%;
  font-size: 20px;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  flex-wrap: 400;
}
.most-read-book p {
  font-size: 20px;
  color: #a19d9d;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: right;
}
.most-read-book h2 {
  font-size: 130px;
  opacity: 0.1;
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 1024px) {
  .most-read-book {
    width: 40%;
    height: 10%;
  }
  .most-read-book img {
    height: 250px;
  }
}
@media only screen and (max-width: 650px) {
  .most-read-book {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .most-read-book img {
    height: 250px;
    width: 80%;
  }
  .most-read-book h1 {
    text-align: center;
  }
}

.one-most-read {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.one-most-read img {
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .one-most-read {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    justify-content: inherit;
    align-items: end;
  }
}
@media only screen and (max-width: 650px) {
  .one-most-read {
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
  }
  .one-most-read img {
    width: 100%;
    height: 50%;
  }
}

.description {
  padding-left: 30px;
  width: 40%;
  position: relative;
}
.description h1 {
  font-size: 18px;
  color: #cfcccc;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.description h3 {
  font-size: 18px;
  color: #a19d9d;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.description h2 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.description p {
  font-size: 22px;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  white-space: 10px;
}
@media only screen and (max-width: 1024px) {
  .description p {
    font-size: 15px;
  }
}
.description h4 {
  font-size: 180px;
  position: absolute;
  z-index: 1;
  color: gray;
  opacity: 0.1;
  right: -50px;
  top: -250px;
}
@media only screen and (max-width: 1024px) {
  .description {
    width: 40%;
    height: 10%;
  }
}
@media only screen and (max-width: 650px) {
  .description {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.aside-container {
  max-width: 100%;
  display: flex;
  padding-left: 70px;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .aside-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 650px) {
  .aside-container {
    position: unset;
  }
}

.anceta-cover {
  width: 60%;
  position: relative;
  border: 1px solid #e2dfdf;
  margin-right: 40px;
}
@media only screen and (max-width: 1024px) {
  .anceta-cover {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.anceta {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  width: 95%;
  height: 100%;
  background-color: #f7f6f3;
  z-index: 1;
  margin-left: 40px;
  position: absolute;
  margin-top: 30px;
  padding-bottom: 20px;
}
.anceta h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
@media only screen and (max-width: 650px) {
  .anceta h1 {
    padding-left: 30px;
  }
}
.anceta p {
  font-size: 24px;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  white-space: 10px;
}
@media only screen and (max-width: 650px) {
  .anceta p {
    padding-left: 30px;
  }
}
.anceta h3 {
  font-size: 22px;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  white-space: 10px;
}
@media only screen and (max-width: 650px) {
  .anceta h3 {
    padding-left: 30px;
  }
}
.anceta span {
  color: red;
}
.anceta h4 {
  font-size: 22px;
  font-family: "Merriweather Sans", sans-serif;
  color: #666161;
  white-space: 10px;
  font-weight: 400;
}
@media only screen and (max-width: 650px) {
  .anceta h4 {
    padding-left: 30px;
  }
}
.anceta input {
  height: 90px;
  border: apx solid grey;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 25px;
}
@media only screen and (max-width: 1024px) {
  .anceta input {
    width: 60%;
  }
}
@media only screen and (max-width: 650px) {
  .anceta input {
    width: 70%;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .anceta {
    width: 100%;
    margin: 0;
    padding: 0;
    position: unset;
  }
}
@media only screen and (max-width: 650px) {
  .anceta {
    width: 100%;
  }
}

.anceta button {
  display: inline-flex;
  justify-content: space-evenly;
  height: 55px;
  width: 200px;
  margin-right: 50px;
  background-color: #ea545b;
  border-radius: 15px;
  border: 1px solid #ea545b;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  cursor: pointer;
}

.associates {
  width: 20%;
  margin-right: 0px;
}
.associates h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-left: 60px;
}
.associates img {
  width: 80%;
  height: 17%;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 10px;
}
@media only screen and (max-width: 1024px) {
  .associates {
    width: 100%;
    display: flex;
  }
  .associates img {
    height: 100px;
    width: 150px;
    margin-left: 10px;
  }
  .associates h1 {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .associates {
    flex-wrap: wrap;
    width: 100%;
  }
  .associates img {
    width: 45%;
  }
}

footer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.mani-container {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
}
@media only screen and (max-width: 1024px) {
  .mani-container {
    margin: 0 0%;
  }
}
@media only screen and (max-width: 1200px) {
  .mani-container {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 650px) {
  .mani-container {
    margin: 0;
    padding: 0;
  }
}

.information {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.information p {
  font-size: 20px;
  color: #a19d9d;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin-top: 4px;
  width: 80%;
}
.information h1 {
  font-size: 20px;
}
@media only screen and (max-width: 1200px) {
  .information {
    width: 30%;
  }
}
@media only screen and (max-width: 650px) {
  .information {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.network p {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 50px;
  margin-left: 40px;
  font-size: 20px;
  color: #a19d9d;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: right;
}

.material-icons {
  margin-left: 35px;
}
@media only screen and (max-width: 650px) {
  .material-icons {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
