.aside-container {
  @include acideContainer;
  @include responsive(tab-md-land) {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  @include responsive(phone) {
    position: unset;
  }
}
.anceta-cover {
  @include ancetaCover;
  @include responsive(tab-md-land) {
    width: 100%;
    padding: 0;
  }
  @include responsive(phone-l-plus-sizes) {
    width: 80%;
    margin-top: -300px;
    margin-left: 60px;
  }
  @include responsive(phone-s-m-l-sizes) {
    width: 80%;
    margin-top: -300px;
    margin-left: 30px;
  }
}
.container {
  @include containerProperties;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.anceta {
  @include ancetaProperties;
  input {
    height: 40px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 7px;
    padding-left: 10px;
    font-size: 2.5rem;
    @media only screen and (max-width: 1024px) {
      // width: 60%;
    }
    @include responsive(phone) {
      height: 50px;
      margin: 20px;
    }
  }
  @include responsive(laptop) {
    width: 100%;
    margin: 0;
    padding: 0;
    position: unset;
  }
  @include responsive(phone) {
    width: 100%;
  }
}
.anceta button {
  @include ancetaButton;
  @include responsive(phone) {
    margin: 20px;
    height: 50px;
    width: 170px;
  }
}
.associates-wrapper {
  @include associatesWrapper;
  @include responsive(laptop) {
    width: 100%;
    display: flex;
    img {
      height: 100px;
      width: 150px;
      margin-left: 10px;
    }
    h1 {
      display: none;
    }
  }
  @include responsive(phone) {
    flex-wrap: wrap;

    width: 100%;
    img {
      width: 45%;
    }
  }
}
