aside {
  @include asideProperties;
}
.book-lovers-headline {
  @include bookLoversHeadline;
  @include responsive(phone) {
    flex-direction: column;
    align-items: baseline;
    h2 {
      margin-left: 5px;
      padding-left: 20px;
    }
    h1 {
      font-size: 2.5rem;
      padding-left: 20px;
    }
  }
  @include responsive(tab-md-land) {
    h2 {
      margin-left: 5px;
      padding-left: 20px;
    }
    h1 {
      font-size: 2.5rem;
      padding-left: 20px;
    }
  }
}
.books-trending {
  @include booksTrending;
  @include responsive(phone) {
    display: block;
  }
  @include responsive(tab-port) {
    display: block;
  }
  @include responsive(tab-land) {
    display: block;
  }
}
.active {
  text-decoration: underline;
  font-weight: 600;
  color: red;
}
.hr-book-right hr {
  width: 93%;
  height: 1px;
  background-color: gray;
  margin-top: 20px;
  position: absolute;
}
.most-read-titles {
  @include mostReadTitles;
  @include responsive(tab-md-land) {
    flex-wrap: wrap;
  }
  @include responsive(tab-md-land) {
    align-items: flex-start;
  }
}
.most-read-book {
  @include mostReadBooks;
  @include responsive(tab-md-land) {
    width: 40%;
    height: 10%;
    img {
      height: 250px;
    }
    h2 {
      right: 0;
    }
  }
  @include responsive(phone) {
    width: 100%;
    padding: 0;
    margin: 0;
    img {
      height: 250px;
      width: 80%;
    }
    h1 {
      text-align: center;
    }
    h2 {
      left: 50px;
    }
  }
}
.one-most-read {
  @include oneMostRead;
  @include responsive(tab-md-land) {
    width: 100%;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    justify-content: inherit;
    align-items: end;
  }
  @include responsive(phone) {
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    img {
      width: 100%;
      height: 50%;
    }
  }
}
.description {
  @include descriptionOfTheBooks;
  @include responsive(laptop) {
    width: 40%;
    height: 10%;
  }
  @include responsive(phone) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
