footer {
@include footerProperties;
}
.footer-wrapper {
   @include footerWrapper;
        @include responsive(tab-land) {
            margin-top: 700px;
            padding: 0;
            margin-left: 20px;
        }
        @include responsive(laptop) {
            margin: 0;
            padding: 0;
            flex-wrap: wrap; 
            padding: 0;
            margin-left: 20px;
        }
        @include responsive(tab-md-land) {
            margin: 0;
            padding: 0;
            margin-left: 20px;
        }
        @include responsive(phone) {
            margin: 0;
            padding: 0;  
        }

}
.footer-widget {
        @include footerWidget;
            @include responsive(laptop) {
                width: 30%;
            }
            @include responsive (phone) {
                width: 100%;
                display: flex;
                align-items: center;
                text-align: center; 
            }
            } 
.social-networks-wrapper p {
 @include socialNetworkParagraph;
}
.material-icons {
    margin-left: 35px;
    @include responsive (phone) {
        margin-left: 20px;      
    }
}
