@import 'main.scss';

body {
    @include bodyProperties;
}
header {
    @include headerProperties;
}
.top-header-line{
   @include topHeaderLine;
        @include responsive(phone) {
            width: 100%;
            padding: 0;
            margin: 0;
        }
}
nav {
    display: flex;
    padding-top: 10px;
    max-width: 100%; 
        @include responsive(laptop) {
              flex-direction: column;
        }   
}
.logo-box {
  @include logoBox;
        @include responsive (laptop) {
            justify-content: flex-start;
        } 
        @include responsive (phone) {
            width: 100%;
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 10px;
             img {
                 width: 120px;
                 height: 100px;
             }
        } 
}
.title {
    @include titleProperties;
        @include responsive(phone) {
            font-size: 2.5rem;
     } 
}
.nav-links-info {
    @include navLinksInfo;
        @include responsive (laptop) {
            width: 100%;
            margin-left: -100px;
            justify-content: flex-start;
         }      
         @include responsive(phone){
             width: 300px;
             margin-left: -20px;
         }
         @include responsive(phone-s-m-l-sizes){
            width: 200px;
            margin-left: -20px;
        }
}
.information-nav {
    @include informationNav;
        @include responsive (tab-md-land ) {
            width: 50%;
            justify-content: flex-start;
            padding-right: 30px;
         } 
         @include responsive(tab-port) {
            width: 80%;
         } 
         @include responsive(phone) {
            flex-wrap: wrap;
            width: 90%;
          }
}
.language {
  @include laungageProperties;
      @include responsive(phone){
        width: 50px;
        height: 30px;
        font-size: 1.2rem;
    }
       
}
.nav-links-category {
    @include navLinksCategory;
        a {
           font-size: 1.5rem; 
           padding-left: 50px;
           text-decoration: none;
           color: rgb(80, 76, 76);
           font-weight: 600; 
           margin-right: 10px;
             @include responsive (big-desktop) {
                  @include font-padding;
            } 
                @include responsive (tab-land) {
                    @include font-padding;
                }     
        }
        @include responsive(laptop) {
            width: 100%;
            justify-content: flex-start;
            margin: 0px;
         }  
         @include responsive (phone) {
           flex-wrap: wrap;
         }   
}
.search-bar-wrapper {
  @include searchBarWrapper;
        @include responsive (laptop) {
            flex-wrap: wrap;
        } 
}
.search-bar {
    width: 80%;
    background-color:#2a3743;
    margin-left: 60px;
        input {
            height: 50px;
            width: 80%;
            border-radius: 8px;
            border-bottom-right-radius: unset;
            border-top-right-radius: unset;
            padding-top: 10px;
            @include responsive(tab-middle-sizes){
                width: 500px;
                height: 50px;
            }
            @include responsive(phone-middle-sizes){
                width: 320px;
                height: 50px;
        
            }
            @include responsive(phone){
                width: 280px;
                height: 40px;
            }
            @include responsive(phone-s-m-l-sizes){
                width: 150px;
                height: 40px;
            }
        }
        ::placeholder {
            padding-left: 30px;
            font-size: 1.6rem;
            letter-spacing: 1px;
        }
}
.category-options {
    @include categoryOptions;
    @include responsive(tab-middle-sizes){
        height: 50px;
    }
    @include responsive(phone-middle-sizes){
        width: 150px;
        height: 50px;
    }
    @include responsive(phone){
        width: 130px;
        height: 40px;
    }
    @include responsive(phone-s-m-l-sizes){
        width: 70px;
        height: 40px;
    }
}
.search-category button {  
@include searchCategoryButton;
    @include responsive(laptop-l){
     @include margins-and-height;
    }
    @include responsive(tab-md-land){
        @include margins-and-height;
    }
    @include responsive(tab-port){
        @include margins-and-height;
    }
    @include responsive(tab-middle-sizes){
        @include margins-and-height;
    }
   
    @include responsive(phone-middle-sizes){
        @include margins-and-height;
    }
    @include responsive(phone){
        @include margins-and-height;
    }
    @include responsive(phone-s-m-l-sizes){
        @include margins-height;
    }
}

.navbar-toggler {
    @include toggler;
    .navbar-toggler-icon{
        width: 40px;
        height: 40px;
        &:hover{
            color: $orange;
        }
    }
    &:hover{
    background: #bd8815;
    }
}

.toggler-search{
    @include toggle-search;
}
.book-img{
    width: 100px;
    height: 50px;
}