@import "_mediaQueries.scss";
@import "_mixins.scss";

main {
  max-width: 100%;
}
section {
  @include sectionProperties;
  @include responsive(tab-md-land) {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
.activities-wrapper {
  @include activitiesWrapper;
  @include responsive(tab-port) {
    flex-wrap: wrap;
  }
  @include responsive(phone) {
    flex-wrap: wrap;
    width: 100%;
  }
}
.active {
  display: block;
}
.activities-headline-wrapper {
  @include activitiesHeadlineWrapper;

  @include responsive(tab-md-land) {
    h2 {
      margin-left: 5px;
      @include paddingLeft;
    }
    h1 {
      font-size: 2.5rem;
      @include paddingLeft;
    }
  }
  @include responsive(phone) {
    h1 {
      font-size: 2.5rem;
      @include paddingLeft;
    }
    h2 {
      margin-left: 5px;
      @include paddingLeft;
    }
  }
}
.new-promotion {
  @include newPromotion;
  @include responsive(phone-s-m-l-sizes) {
    height: 500px;
    background: #dfdfdf;
  }
  @include responsive(tab-md-land) {
    h4 {
      @include paddingLeft;
    }
    h3 {
      @include paddingLeft;
      width: 60%;
    }
  }
  @include responsive(phone-plus) {
    padding: 20px;
  }
  @include responsive(phone) {
    width: 100%;
    padding: 25px;
  }
  @include responsive(phone-middle-sizes) {
    background: #dfdfdf;
    width: 100%;
    margin: 0;
  }
}
.slideshow {
  @include slideShow;
}
.slide-content {
  @include slideContent;
  @include responsive(tab-md-land) {
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  @include responsive(phone) {
    position: unset;
    width: 100%;
    height: 350px;
  }
}
.button-info button {
  @include buttonInfo;
  @include responsive(tab-port) {
    margin-right: 50px;
    margin-top: -15px;
  }
  @include responsive(phone-plus) {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 60px;
  }
  @include responsive(phone) {
    margin-right: 20px;
    margin-top: 65px;
  }
  @include responsive(phone-s-m-l-sizes) {
    margin-top: 135px;
  }
}
@include responsive(phone-s-m-l-sizes) {
  .button-info {
    margin-right: -20px;
  }
}
@include responsive(reduse-size) {
  .button-info {
    margin-top: -50px;
    margin-left: 250px;
    button {
      width: 180px;
      height: 50px;
    }
  }
}
@include responsive(tab-middle-sizes) {
  .button-info {
    margin-top: -100px;
    margin-left: 250px;
    button {
      width: 180px;
      height: 50px;
    }
  }
}
@include responsive(phone-middle-sizes) {
  .button-info {
    margin-top: -100px;
    margin-left: 250px;
    button {
      width: 130px;
      height: 50px;
    }
  }
}
@include responsive(phone) {
  .button-info {
    margin-top: -120px;
    margin-left: -100px;
  }
}
.images-description {
  @include imageDescription;
}
@include sliderAll;
