main {
    max-width: 100%;
}
section {
    display: flex;
    margin-left: 60px;
    margin-top: 70px; 
    position: relative;
        @media only screen and (max-width: 1024px) {
          flex-direction: column; 
          width: 100%;
          margin: 0;
        }
}
.new-activities {
    width: 69%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
        @media only screen and (max-width: 650px) {
            flex-wrap: wrap;
            width: 100%;
        }
        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
}
.activities {
    width: 30%;
    background-color: rgb(16, 145, 219);
    margin-bottom: 50px;
    position: absolute;
    right: 70px;
    top: 5px;
    z-index: 1;
        img {
            width: 100%;
            height: 470px;
            opacity: 0.3;      
        }
        @media only screen and (max-width: 650px) {
            width: 100%;
         }
         @media only screen and (max-width: 1024px) {
            position: unset;
            width: 100%;
            margin-top: 50px;
                img {
                    width: 100%;
                    margin-top: 20px;
                    opacity: 0.4;
                }
          }
         
}
.first-activities {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        h1 {
            font-size: 40px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 1px;
        }
        h2 {
            padding-left: 30px;
            font-size: 18px;
            letter-spacing: 1px;
            font-family: serif;
            color: rgb(94, 91, 91);
            margin-right:100px;
                hr {
                    height: 5px;
                    background-color: rgb(243, 81, 81);
                }
        }
        @media only screen and (max-width: 450px) {
            flex-direction: column; 
            align-items: baseline; 
                h2 {
                    margin-left: 5px;
                    padding-left: 0px;
                }    
          }
}
.new-promotion {
    width: 100%;
    background-color: rgb(243, 235, 243);
    z-index: 1;
    padding-left: 50px;
        h3 {
            font-size: 35px;
        }
        h4 {
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            width: 60%;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
        }
        @media only screen and (max-width: 1024px) {
            width: 100%;
            margin: 0;
            padding: 0;
            padding-left: 20px;
          }
         @media only screen and (max-width: 450px) { 
                h4 {
                    width: 100%;
            }    
        }
}
.slideshow {
    width: 90%;
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.more-information button {
    display: inline-flex;
    justify-content: space-evenly;
    height: 55px;
    width: 200px;
    margin-left: 50px;
    background-color: rgb(243, 81, 81);
    border-radius: 15px;
    border: 1px solid  rgb(243, 81, 81) ;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
    cursor: pointer;
}